// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

#todo-list label.completed {
  text-decoration: line-through;
}
#todo-list input.edit {
  display: none; /* Hides input box*/
}
#todo-list .editing label {
  display: none; /* Hides label text when .editing*/
}
#todo-list .editing input.edit {
  display: inline; /* Shows input text box when .editing*/
}
